@page 
@model AddBookModel
@{
    ViewData["Title"] = "Add new book"; 
}

<div class="text-center">
    <h1 class="display-4">Add new book</h1>

    <form method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="author" placeholder="Author">
        <input type="text" name="year" placeholder="Year">
        <input type="text" name="description" placeholder="Description">
        <input type="submit" asp-page-handler="AddBtn" value="Add">
    </form>
</div>