@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <h2>Manage the list of your favorite books</h2>

    <form method="post">
        <input type="submit" id="login-btn" asp-area="" 
            asp-page="/Auth/Login" value="Log In">
        <input type="submit" id="register-btn" asp-area="" 
            asp-page="/Auth/Register" value="Create account">
    </form>
</div>
