@page
@model LoginModel
@{
    ViewData["Title"] = "Register page";
}

<div class="text-center">
    <h1 class="display-4">Register Page</h1>
    <h2>Create an account</h2>

    <form method="post">
        <button class="btn-outline-success" id="register-btn" asp-area="" asp-page="/Auth/Register">
            Create account
        </button>
    </form>
</div>
