@page
@model LoginModel
@{
    ViewData["Title"] = "Login page";
}

<div class="text-center">
    <h1 class="display-4">Login Page</h1>
    <h2>Please enter your login and password</h2>
    <br>
    
    <form method="post">
        <input type="text" name="fullname" placeholder="Fullname"> 
        <br>
        <input type="password" name="password" placeholder="Password"> 
        <br>
        <input type="submit">
    </form>
</div>
