@page
@model RegisterModel
@{
    ViewData["Title"] = "Register page";
}

<div class="text-center">
    <h1 class="display-4">Register Page</h1>
    <h2>Create an account</h2>
    <p>Message: @Model.Message</p>

    <form method="post">
        <input type="text" name="emailaddress" placeholder="Email"> 
        <input type="submit">
    </form>
</div>
