@page
@model RegisterModel
@{
    ViewData["Title"] = "Register page";
}

<div class="text-center">
    <h1 class="display-4">Register Page</h1>
    <br>
    <h2>Create an account</h2>
    <p>Message: @Model.Message</p>

    <form method="post">
        <input type="text" name="fullname" placeholder="Fullname"> 
        <br>
        <input type="text" name="country" placeholder="Country"> 
        <br>
        <input type="text" name="city" placeholder="City"> 
        <br>
        <input type="password" name="password" placeholder="Password"> 
        <br>
        <input type="submit">
    </form>
</div>
